@import "theme.css";

img.screenshot {
  /* Add border radius and shadow for screenshots */
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(52, 64, 77, 0.2) 0px 1px 5px;
}

h1 {
  font-size: 30px;
}

ul {
  /* Indent the side nave bar list*/
  margin-left: 2%;
}

.wy-side-nav-search > a img.logo {
  /* Side nav bar logo */
  background-color: white;
  border-radius: 5px;
  max-width: 50%;
}

.wy-side-nav-search {
  /* Background color for the search bar along with the logo*/
  background-color: #008cf6;
}

.wy-nav-side {
  /* This relates to the entire color of the sidebar */
  background-color: rgba(221, 221, 221, 0.3);
}

.wy-menu a:hover {
  /* Background color of text upon hovering on the nav bar list*/
  background: rgba(221, 221, 221, 0.5);
}

.wy-menu-vertical li.current {
  /* Background color of selected sub-list */
  background: white;
}

.wy-menu-vertical li.current > a:hover,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover {
  /* Background color of text upon hovering already expanded sub-list*/
  background: rgba(221, 221, 221, 0.5);
}

.wy-menu-vertical li.toctree-l2.current > a {
  /* Background color of text selected on a already expanded sub-list */
  background-color: rgba(221, 221, 221, 0.5);
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
  /* Background color of text sub-list of a selected sub-list */
  background-color: white;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3.current > a {
  /* Background color of text selected sub-list of a selected sub-list */
  background-color: rgba(221, 221, 221, 0.5);
}

.wy-menu-vertical a,
.wy-menu-vertical li.toctree-l1.current > a {
  /* Text color of toc 
     List on nav bar when not selected */
  color: #0069d9;
}

.wy-nav-content,
.wy-nav-content-wrap {
  /* Background color of wrap around main content */
  background-color: white;
}

.wy-nav-top {
  /* Color of nav at top when the window is narrow (769px)*/
  background: #008cf6;
}

.sig-param {
  /*  All the arguments of a function
      By default all the arguments are too close */
  padding-left: 4px;
  padding-right: 2px;
}
